/* Global Styles */

body{
  background-color:#2E5902;
}

img{
  display:block;
  margin: 0 auto;
  width:100%
}

#container{
  background-color:#AFDFA1
}

.center {
  text-align: center;
  list-style-position: inside;
  padding: 20px
}

h1,h2,h3,p{
  text-align:center;
}

.site-header{
  font-weight:800;
  font-style: oblique;
  text-shadow: 2px 2px rgba(124, 182, 86, 0.516);
  color:#754400;
  font-size: 2em;
}

/* Small Screens */

@media (min-width:320px) and (max-width:767px) {

  nav{
    padding:5px;
    margin-top: 15px;
    text-align:center;
  }

  nav ul{
    list-style: none;
    padding:0;
  }

  nav li{
    display: block;
  }

  nav li a{
    display:block;
    height:30px;
    line-height:30px;
    font-size:24px;
    font-weight:700;
    color: #522208;
    text-decoration: none;
    padding:0;
  }
  
  .center {
    padding: 20px;
  }

  h2{
    padding:10px;
    font-weight:600;
  }

  #header-line{
    font-weight:800px;
    font-size:1.2em;
  }
  

  footer{
    text-align: center;
    padding:30px;
  }
  
}

@media (min-width:768px) {


  nav{
    padding:5px;
    margin-top: 15px;
    text-align:center;
  }

  nav ul{
    list-style: none;
    padding:0;
  }

  nav li{
    display: inline-block;
  }

  nav li a{
    display:inline-block;
    height:150px;
    width:155px;
    margin: 5px;
    line-height:30px;
    font-size:24px;
    font-weight:700;
    color: #522208;
    text-decoration: none;
    padding:0;
  }
  
  .center {
    padding: 20px;
  }

  h2{
    padding:10px;
    font-weight:600;
  }

  #header-line{
    font-weight:800px;
    font-size:1.2em;
  }
  

  footer{
    text-align: center;
    padding:30px;
  }

}




@media (min-width:900px) and (max-width:1800px) {


/* Desktop Style the top navigation bar */
.topnavi {
  overflow: hidden;
}

nav {
  text-align:center;
  width: 100%
}

nav ul{
  list-style-type: none;
  text-align:center;
}

nav li{
  display: inline-block;
  margin-bottom:0px;
  padding: top 0px;
  padding: bottom 0px;
}

nav li a {
  display: block;
  font-weight:700;
  color: #522208;
  text-decoration: none;
  padding:5px;
  font-size: 1.5em;
  width:200px;
  height:200px;
}


.heading-style{
  text-decoration:underline;
}

.gh-images{
  width: 40%;
}

img{
  display:block;
  margin:20px auto;
  width:600px;
}

}