/* Global Styles */

body{
  background-color:#2E5902;
}

img{
  display:block;
  margin: 0 auto;
  width:100%
}

#container{
  background-color:#AFDFA1
}

.center {
  text-align: center;
  list-style-position: inside;
}

/* Small Screens */

@media (min-width:320px) and (max-width:1200px) {

  nav{
    padding:5px;
    margin-top: 15px;
  }

  nav ul{
    list-style: none;
    padding:0;
  }

  nav li{
    display: block;
  }

  nav li a{
    text-decoration: none;
    padding:0;
  }
  
  
}