/* Global Styles */

body{
  background-color:#2E5902;
}

img{
  display:block;
  margin: 0 auto;
  width:100%
}

#container{
  background-color:#AFDFA1
}

.center {
  text-align: center;
  list-style-position: inside;
  margin: 20px
}

h1,h2,h3{
  text-align:center;
}

/* Small Screens */

@media (min-width:320px) and (max-width:1200px) {

  nav{
    padding:5px;
    margin-top: 15px;
    text-align:center;
  }

  nav ul{
    list-style: none;
    padding:0;
  }

  nav li{
    display: block;
  }

  nav li a{
    display:block;
    height:30px;
    line-height:30px;
    font-size:24px;
    font-weight:700;
    color: #522208;
    text-decoration: none;
    padding:0;
  }
  
  .center {
    padding: 20px;
  }

  h2{
    padding:10px;
    font-weight:600;
  }

  #header-line{
    padding:10px;
  }
  

  footer{
    text-align: center;
    padding:30px;
  }
  
}


@media (min-width:900px) and (max-width:1800px) {


/* Desktop Style the top navigation bar */
.topnavi {
  overflow: hidden;
}

nav {
  text-align:center;
  margin: 20px 0;
  background-color:#a5e9aeba;   
  width: 100%
}

nav ul{
  list-style-type: none;
  text-align:center;
}

nav li{
  display: inline-block
}

nav li a {
  display: block;
}

#topnavi{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 100%;
  padding-bottom: 2px;
}

#topnavi a:hover{
  color: rgb(255, 9, 177);
}

#topnavi a{
  color:#14650a;
  font-weight: 700;
  font-size:1.5em;
  padding:5px;
}


.heading-style{
  text-decoration:underline;
}
}