

main{
    display:flex;
}

#column1{
    width:50%;
    border: 2px solid #000;

}

#column2{
    width:50%;
    border: 2px solid #000;

}

body{
    background-color:#a5e9aeba   
}

img{
    display:block;
    margin:20px auto;
    width:600px;
}
h1,h2,h3,h4{
    margin:20px auto;
    padding:15px;
    text-align:center;
}
p,ol,ul,li{
    text-align:center;
    font-size:1.2em;
    padding: 10px;
}
ul,ol{
    display:table;
    margin: 0 auto;
}
#container{
    width:100%;
}
.center {
    text-align: center;
    list-style-position: inside;
}
h3{
    font-size: 1.3em;
}

/* Style the top navigation bar */
.topnavi {
    overflow: hidden;
  }
  
nav {
    text-align:center;
    margin: 20px 0;
    background-color:#a5e9aeba;   
    width: 100%
}

  nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav li{
    display: inline-block
  }

  nav li a {
    display: block;

  }

  #topnavi{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
    padding-bottom: 20px;
  }

  #topnavi a:hover{
    color: rgb(255, 9, 177);
  }

  #topnavi a{
    color:#14650a;
    font-weight: 700;
    font-size:1.5em;
    padding:5px;
  }


  .heading-style{
    text-decoration:underline;
  }

  #photo-shadow{
    border: 10px #969696;
  }

  .gh-images{
    width: 40%;
  }

